<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="header" style="background: #585858">
            <h1 style="display: inline">Home</h1>
            <a style="display: inline; float: right; background: #FFFFFF" href="/login">Login</a>
        </div>
    </body>
</html>